---
layout: archive
author_profile: true
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "List of CSE Courses" }}</h3>

<ul class="course-list">
    {% for course in site.courses %}
      <li class="course-item">
        <a href="{{ course.url }}">{{ course.title }}</a>
        <div class="meta-info">
          <span class="course-quarter">{{ course.quarter }} {{ course.year }}</span>
        </div>
        <p>{{ course.description }}</p>
      </li>
    {% endfor %}
</ul>
